.atuin-btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 28px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #2b3155;
    cursor: pointer;
    border: 2px solid #7781bb;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    color: #FFF;
}
.atuin-btn:after,
.atuin-btn:before {
    position: absolute;
    height: 4px;
    left: 50%;
    background: #fb6e4e;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.atuin-btn:before {
    top: -6px;
}
.atuin-btn:hover:after,
.atuin-btn:hover:before,
.atuin-btn:active:after,
.atuin-btn:active:before,
.atuin-btn:focus:after,
.atuin-btn:focus:before {
    width: 100%;
    left: 0;
}

.button {
    text-align:right;
    margin-right: 50px;
}