{% extends 'main.html' %}
{% load static %}


{% block cssStyles %}
<link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock cssStyles %}

{% block content %}
<main>
    <div class="info"}>
      <ol>
       <li>Ініціалізувати сервер джанго, зробити його доступним з локальної мережі</li>
       <li>Створити дефолтний інформаційний роут який буде містити інформацію про налаштування сервісу, задачі, та інструкцію використання</li>
       <li>Налаштувати логування в окремий файл</li>
       <li>Зареєструватися на NIST NVD та отримати api ключ</li>
       <li>Створити роут для отримання всіх cve</li>
       <li>Створити роут для отримання свіжих cve</li>
       <li>Створити роут для отримання критичних cve</li>
       <li>Створити роут для отримання: cve по ід, пакету або кейворду в описі</li>
       <li>Для кожного роута створити html щоб можна було зручно читати данні</li>
       <li>Для кожного роута додати параметр на який роут верне pdf у форматованому вигляді для який можна буде переслати замовнику.</li>
      </ol>
    </div>
</main>
{% endblock content %}