<nav>
    <ul class="menu-main">
        <li><a href="/info">Info</a></li>
        <li><a href="/get/all">All CVE</a></li>
        <li><a href="/get/new">Most recent CVE</a></li>
        <li><a href="/get/critical">Critical CVE</a></li>
        <div class="dropdown">
            <li><a href="">Search CVE</a></li>
            <div class="dropdown-content">
              <a href="/get/id">ID</a>
              <a href="/get/product">Product</a>
              <a href="/get/keyword">Keyword</a>
            </div>
          </div>
        
    </ul>
</nav>